<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>483765057139-gape18b19i8r65mkoq54inujmq6krmd1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.483765057139-gape18b19i8r65mkoq54inujmq6krmd1</string>
	<key>API_KEY</key>
	<string>AIzaSyBFgP9Ew88RkMHkQTceCC2XAhfZv2FeRbA</string>
	<key>GCM_SENDER_ID</key>
	<string>483765057139</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>NG.com.Pills</string>
	<key>PROJECT_ID</key>
	<string>pillsreminder-62324</string>
	<key>STORAGE_BUCKET</key>
	<string>pillsreminder-62324.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:483765057139:ios:27e7a345559a35f3</string>
	<key>DATABASE_URL</key>
	<string>https://pillsreminder-62324.firebaseio.com</string>
</dict>
</plist>